body { 
	margin:0; 
	padding:0; 
}

.body-container {
	width: 100vw;
	height: 100vw;
}

/*MAP*/
.leaflet-control-container {
	position: absolute; 
	top:0; 
	bottom:0; 
	right:0; 
	left:0; 
	z-index: 4;
	display: none;
}

.leaflet-popup-content-wrapper {
	border: 2px solid #fff;
}

.leaflet-popup {
	border: 2px solid #fff;
}

a.leaflet-popup-close-button {
	background-color: #fff!important;
	color: #000!important;
	padding: 10px; 
}

/*.leaflet-popup-content-wrapper {
	color: #000;
	background: none;
}*/

img.label {
	width: 20px;
	height: auto;
}


/*INTRO TEXT AND SIDEBAR*/

.sidebar {
	width: 25%;
	height: 100%;
	position: absolute; 
	top:0; 
	bottom:0; 
	right:0; 
	left:0; 
	z-index: 2;
	margin: 0;
	padding: 2%;
	background-color: rgba(255,255,255,0.8);
	color: #000;
	box-shadow: 4px 4px 4px .5px rgba(0, 0, 0, 0.2);
}

.intro {
	width: 75%;
	height: 100%;
	padding: 2%;
}

#map { 
	position: absolute; 
	top:0; 
	bottom:0; 
	right:0; 
	left:0; 
	width: 100%;
	height: 100%;
	z-index: 1;
}

#key {
	color: #000;
}

#key img {
	height: 30px;
	width: auto;
	padding: 5px 10px;
	vertical-align: middle;
}

.pin {
	width: 100%;
	height: 70px;
	padding: 10px 0;
	vertical-align: middle;
}


/* TYPOGRAPHY */
h1 {
	font-family: merriweather, serif;
	font-weight: 700;
	font-style: normal;
	font-size: 2.6em;
}

h2 {
	font-family: merriweather, serif;
	font-weight: 400;
	font-style: italic;
	font-size: 1.4em;	
}

h3 {
	font-family: merriweather, serif;
	font-weight: 700;
	font-style: normal;
	font-size: 1.2em;
	line-height: 1;	
}

h4, #key {
	font-family: merriweather, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1em;	
}

p {
	font-family: fieldwork-hum, sans-serif;
	font-weight: 100;
	font-style: normal;
	font-size: 1em;
	line-height: 1.5;	
}

a#footnote {
	padding: 3px;
	font-style: italic;
	text-decoration: none;
	vertical-align: super;
	font-size: .6em;
}
