body { 
	margin:0; 
	padding:0; 
}

#map { 
	position: absolute; 
	top:0; 
	bottom:0; 
	right:0; 
	left:0; 
	width: 100%;
}

/*#sidebar {
	width: 30%;
	height: 90%;
	float: left;
}
*/

.leaflet-popup-tip-container {
	display: none;
}

/*img.eventIcon {
	display: none;
}*/

img.landIcon {
	display: none;
}

img.leaderIcon {
	display: none;
}

img.strikeIcon {
	display: none;
}

img.orgIcon {
	display: none;
}